openapi: 3.1.0
info:
  title: TrustLayer API
  version: 1.0.0
  summary: Identity verification and trust infrastructure API
  description: >
    TrustLayer provides identity verification, tier assignment, trust scoring,
    marketplace trust events, score history, leaderboard analytics, billing,
    API keys, and webhook delivery for platform integrators.
servers:
  - url: https://api.trustlayer.io
    description: Production
  - url: https://sandbox.trustlayer.io
    description: Sandbox

tags:
  - name: Verification
  - name: Trust Scores
  - name: Marketplace Events
  - name: Leaderboard
  - name: API Keys
  - name: Billing
  - name: Stripe
  - name: Webhooks
  - name: Notifications
  - name: Dispute Resolution
  - name: Escrow
  - name: Wallet

security:
  - ApiKeyAuth: []

paths:
  /api/public/badge/{slug}:
    get:
      tags: [Public Verification]
      summary: Get public TrustLayer verification badge SVG
      operationId: getPublicVerificationBadge
      security: []
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          description: Public platform slug.
      responses:
        '200':
          description: SVG verification badge
          content:
            image/svg+xml:
              schema:
                type: string
                format: binary
        '404':
          description: Badge not found
          content:
            text/plain:
              schema:
                type: string

  /v1/verify:
    post:
      tags: [Verification]
      summary: Start identity verification
      operationId: createVerification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyRequest'
      responses:
        '200':
          description: Verification result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyResponse'

  /v1/tier/{subjectId}:
    get:
      tags: [Verification]
      summary: Get subject verification tier
      operationId: getTier
      parameters:
        - $ref: '#/components/parameters/SubjectId'
      responses:
        '200':
          description: Tier details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TierResponse'

  /v1/score/{subjectId}:
    get:
      tags: [Trust Scores]
      summary: Get current trust score by role
      operationId: getTrustScore
      parameters:
        - $ref: '#/components/parameters/SubjectId'
        - name: role
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/ScoreRole'
          description: Defaults to platform.
      responses:
        '200':
          description: Trust score response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrustScoreResponse'
        '404':
          description: Trust score not found

  /v1/score/{subjectId}/history:
    get:
      tags: [Trust Scores]
      summary: Get paginated score history
      operationId: getTrustScoreHistory
      parameters:
        - $ref: '#/components/parameters/SubjectId'
        - name: role
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/ScoreRole'
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
      responses:
        '200':
          description: Score history response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScoreHistoryResponse'

  /v1/transactions:
    post:
      tags: [Marketplace Events]
      summary: Submit a marketplace transaction event
      operationId: createTransaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionRequest'
      responses:
        '200':
          description: Transaction recorded and scores recalculated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'

  /v1/reviews:
    post:
      tags: [Marketplace Events]
      summary: Submit a directional review event
      operationId: createReview
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReviewRequest'
      responses:
        '200':
          description: Review recorded and reviewee score recalculated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewResponse'

  /v1/disputes:
    post:
      tags: [Marketplace Events]
      summary: Submit a legacy simple dispute event
      deprecated: true
      description: >
        Legacy simple marketplace dispute event. This endpoint records a basic dispute
        and recalculates trust scores, but it does not support evidence submission,
        escrow release, escrow refund, or full dispute lifecycle management.
        New integrations should use POST /v1/dispute-resolution/disputes.
      operationId: createDispute
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisputeRequest'
      responses:
        '200':
          description: Dispute recorded and scores recalculated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisputeResponse'

  /v1/fraud-graph/{subjectId}/risk:
    get:
      tags: [Marketplace Events]
      summary: Get fraud graph risk analytics for a subject
      operationId: getFraudGraphRisk
      parameters:
        - $ref: '#/components/parameters/SubjectId'
      responses:
        '200':
          description: Fraud graph risk analytics
        '503':
          description: Fraud graph disabled

  /v1/fraud-alerts:
    get:
      tags: [Marketplace Events]
      summary: List fraud alerts
      operationId: listFraudAlerts
      parameters:
        - name: status
          in: query
          required: false
          schema:
            type: string
        - name: severity
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
      responses:
        '200':
          description: Fraud alert list

  /v1/fraud-alerts/{id}:
    get:
      tags: [Marketplace Events]
      summary: Get fraud alert
      operationId: getFraudAlert
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Fraud alert details
        '404':
          description: Fraud alert not found

  /v1/fraud-alerts/{id}/resolve:
    post:
      tags: [Marketplace Events]
      summary: Resolve fraud alert
      operationId: resolveFraudAlert
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Fraud alert resolved

  /v1/events:
    get:
      tags: [Marketplace Events]
      summary: List event processing logs
      operationId: listEvents
      parameters:
        - name: status
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
      responses:
        '200':
          description: Event log list

  /v1/events/{eventId}:
    get:
      tags: [Marketplace Events]
      summary: Get event processing log
      operationId: getEvent
      parameters:
        - name: eventId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Event log details
        '404':
          description: Event not found

  /v1/events/{eventId}/reprocess:
    post:
      tags: [Marketplace Events]
      summary: Reprocess an event
      operationId: reprocessEvent
      parameters:
        - name: eventId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Event reprocessed
        '404':
          description: Event not found

  /v1/leaderboard:
    get:
      tags: [Leaderboard]
      summary: Get trust score leaderboard
      operationId: getLeaderboard
      parameters:
        - name: role
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/ScoreRole'
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
      responses:
        '200':
          description: Leaderboard response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaderboardResponse'

  /v1/api-keys:
    post:
      tags: [API Keys]
      summary: Create API key
      operationId: createApiKey
      responses:
        '200':
          description: API key created

  /v1/platforms/{platformId}/api-keys:
    get:
      tags: [API Keys]
      summary: List platform API keys
      operationId: listPlatformApiKeys
      parameters:
        - name: platformId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: API keys listed

  /v1/api-keys/revoke:
    post:
      tags: [API Keys]
      summary: Revoke API key
      operationId: revokeApiKey
      responses:
        '200':
          description: API key revoked

  /v1/billing/plans:
    post:
      tags: [Billing]
      summary: Create billing plan
      operationId: createBillingPlan
      responses:
        '200':
          description: Plan created

  /v1/billing/subscriptions:
    post:
      tags: [Billing]
      summary: Create subscription
      operationId: createSubscription
      responses:
        '200':
          description: Subscription created

  /v1/billing/stripe/checkout:
    post:
      tags: [Stripe]
      summary: Create Stripe checkout session
      operationId: createStripeCheckout
      responses:
        '200':
          description: Checkout session created

  /v1/billing/stripe/portal:
    post:
      tags: [Stripe]
      summary: Create Stripe billing portal session
      operationId: createStripePortal
      responses:
        '200':
          description: Portal session created

  /v1/billing/stripe/webhook:
    post:
      tags: [Stripe]
      summary: Stripe webhook endpoint
      operationId: stripeWebhook
      security: []
      description: Public endpoint called by Stripe. Does not require API key auth.
      responses:
        '200':
          description: Webhook processed

  /v1/wallet/accounts:
    post:
      tags: [Wallet]
      summary: Create or reactivate wallet account
      operationId: createWalletAccount
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WalletAccountRequest'
      responses:
        '201':
          description: Wallet account created or reactivated

  /v1/wallet/accounts/{id}/balance:
    get:
      tags: [Wallet]
      summary: Get wallet balance
      operationId: getWalletBalance
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Wallet balance response

  /v1/wallet/transactions:
    post:
      tags: [Wallet]
      summary: Post balanced ledger transaction
      operationId: postLedgerTransaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LedgerTransactionRequest'
      responses:
        '201':
          description: Ledger transaction posted
        '400':
          description: Invalid or unbalanced ledger transaction

  /v1/escrow/holds:
    post:
      tags: [Escrow]
      summary: Create escrow hold
      operationId: createEscrowHold
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEscrowHoldRequest'
      responses:
        '201':
          description: Escrow hold created

  /v1/escrow/{reference}/release:
    post:
      tags: [Escrow]
      summary: Release escrow funds
      operationId: releaseEscrow
      parameters:
        - name: reference
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReleaseEscrowRequest'
      responses:
        '200':
          description: Escrow released

  /v1/escrow/{reference}/cancel:
    post:
      tags: [Escrow]
      summary: Cancel escrow and refund buyer
      operationId: cancelEscrow
      parameters:
        - name: reference
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelEscrowRequest'
      responses:
        '200':
          description: Escrow canceled

  /v1/dispute-resolution/disputes:
    post:
      tags: [Dispute Resolution]
      summary: Open canonical dispute resolution case
      description: >
        Canonical dispute API for managed dispute resolution. Supports evidence,
        review workflow, escrow release to seller, escrow refund to buyer,
        and no-escrow resolution outcomes.
      operationId: openDisputeResolutionCase
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenDisputeResolutionRequest'
      responses:
        '201':
          description: Dispute opened

  /v1/dispute-resolution/disputes/{id}:
    get:
      tags: [Dispute Resolution]
      summary: Get dispute resolution case
      operationId: getDisputeResolutionCase
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Dispute details
        '404':
          description: Dispute not found

  /v1/dispute-resolution/disputes/{id}/evidence:
    post:
      tags: [Dispute Resolution]
      summary: Add dispute evidence
      operationId: addDisputeEvidence
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddDisputeEvidenceRequest'
      responses:
        '200':
          description: Evidence added

  /v1/dispute-resolution/disputes/{id}/resolve:
    post:
      tags: [Dispute Resolution]
      summary: Resolve dispute
      operationId: resolveDispute
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResolveDisputeRequest'
      responses:
        '200':
          description: Dispute resolved

  /v1/notifications/send:
    post:
      tags: [Notifications]
      summary: Send notification through configured channels
      operationId: sendNotification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationRequest'
      responses:
        '202':
          description: Notification accepted

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key

  parameters:
    SubjectId:
      name: subjectId
      in: path
      required: true
      schema:
        type: string
      example: sub_test_123

  schemas:
    ScoreRole:
      type: string
      enum: [seller, buyer, worker, hirer, platform]

    VerificationTier:
      type: string
      enum: [UNVERIFIED, INDIVIDUAL, BUSINESS, ENHANCED]

    ScoreBand:
      type: string
      enum: [high_trust, good_standing, fair, low, unscored]

    ConsumerTier:
      type: string
      enum: [NEW, BUILDING, VERIFIED, TRUSTED]

    VerifyRequest:
      type: object
      required: [subjectId, method]
      properties:
        subjectId:
          type: string
        method:
          type: string
          enum: [PHONE_OTP, GHANA_CARD, BUSINESS_ORC, BVN, NIN]
        phone:
          type: string
        nationalId:
          type: string

    VerifyResponse:
      type: object
      properties:
        verificationId:
          type: string
        status:
          type: string
          enum: [PENDING, OTP_SENT, VERIFIED, FAILED, EXPIRED]
        tier:
          $ref: '#/components/schemas/VerificationTier'
        consumerTier:
          $ref: '#/components/schemas/ConsumerTier'
        score:
          $ref: '#/components/schemas/TrustScoreResponse'

    TierResponse:
      type: object
      properties:
        subjectId:
          type: string
        verificationTier:
          $ref: '#/components/schemas/VerificationTier'
        consumerTier:
          $ref: '#/components/schemas/ConsumerTier'
        tier:
          $ref: '#/components/schemas/VerificationTier'
        confidence:
          type: number
        tierCeiling:
          type: integer
        tierUpdatedAt:
          type:
            - string
            - 'null'
          format: date-time

    TrustScoreFactors:
      type: object
      properties:
        identity:
          type: integer
        transactions:
          type: integer
        reviews:
          type: integer
        disputes:
          type: integer
        roleSpecific:
          type: integer

    NextStep:
      type: object
      properties:
        action:
          type: string
          description: The action identifier (e.g., 'verify_identity', 'complete_transactions')
        description:
          type: string
          description: Human-readable description of the action
        impact:
          type: string
          enum:
            - HIGH
            - MEDIUM
            - LOW
          description: Impact level of the action on trust score

    TrustScoreResponse:
      oneOf:
        - $ref: '#/components/schemas/SingleTrustScoreResponse'
        - $ref: '#/components/schemas/AggregateTrustScoreResponse'

    SingleTrustScoreResponse:
      type: object
      properties:
        subjectId:
          type: string
        role:
          $ref: '#/components/schemas/ScoreRole'
        score:
          type: integer
          minimum: 0
          maximum: 100
        tierCeiling:
          type: integer
        confidence:
          type: number
        verificationTier:
          $ref: '#/components/schemas/VerificationTier'
        consumerTier:
          $ref: '#/components/schemas/ConsumerTier'
        nextSteps:
          type: array
          items:
            $ref: '#/components/schemas/NextStep'
          description: Sorted by impact (HIGH first)
        factors:
          $ref: '#/components/schemas/TrustScoreFactors'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    AggregateTrustScoreResponse:
      type: object
      properties:
        subjectId:
          type: string
        verificationTier:
          $ref: '#/components/schemas/VerificationTier'
        consumerTier:
          $ref: '#/components/schemas/ConsumerTier'
        composite:
          type: integer
          minimum: 0
          maximum: 100
        nextSteps:
          type: array
          items:
            $ref: '#/components/schemas/NextStep'
          description: Sorted by impact (HIGH first)
        scores:
          type: object
          additionalProperties:
            type: object
            properties:
              score:
                type: integer
                minimum: 0
                maximum: 100
              tierCeiling:
                type: integer
              confidence:
                type: number
              consumerTier:
                $ref: '#/components/schemas/ConsumerTier'
              updatedAt:
                type: string
                format: date-time

    ScoreHistoryResponse:
      type: object
      properties:
        subjectId:
          type: string
        role:
          $ref: '#/components/schemas/ScoreRole'
        history:
          type: array
          items:
            type: object
            properties:
              score:
                type: integer
              tierCeiling:
                type: integer
              confidence:
                type: number
              factors:
                $ref: '#/components/schemas/TrustScoreFactors'
              reason:
                type: string
              createdAt:
                type: string
                format: date-time

    TransactionRequest:
      type: object
      required: [sellerSubjectId, buyerSubjectId, amountCents]
      properties:
        sellerSubjectId:
          type: string
        buyerSubjectId:
          type: string
        sellerRole:
          $ref: '#/components/schemas/ScoreRole'
          default: seller
        buyerRole:
          $ref: '#/components/schemas/ScoreRole'
          default: buyer
        amountCents:
          type: integer
          minimum: 0
        currency:
          type: string
          default: GHS
        status:
          type: string
          default: COMPLETED
        metadata:
          type: object

    TransactionResponse:
      type: object
      properties:
        transaction:
          type: object
        sellerScore:
          $ref: '#/components/schemas/TrustScoreResponse'
        buyerScore:
          $ref: '#/components/schemas/TrustScoreResponse'

    ReviewRequest:
      type: object
      required: [reviewerSubjectId, revieweeSubjectId, reviewerRole, revieweeRole, rating]
      properties:
        reviewerSubjectId:
          type: string
        revieweeSubjectId:
          type: string
        reviewerRole:
          $ref: '#/components/schemas/ScoreRole'
        revieweeRole:
          $ref: '#/components/schemas/ScoreRole'
        rating:
          type: integer
          minimum: 1
          maximum: 5
        comment:
          type: string
        metadata:
          type: object

    ReviewResponse:
      type: object
      properties:
        review:
          type: object
        revieweeScore:
          $ref: '#/components/schemas/TrustScoreResponse'

    DisputeRequest:
      type: object
      required: [filerSubjectId, respondentSubjectId, filerRole, respondentRole]
      properties:
        filerSubjectId:
          type: string
        respondentSubjectId:
          type: string
        filerRole:
          $ref: '#/components/schemas/ScoreRole'
        respondentRole:
          $ref: '#/components/schemas/ScoreRole'
        status:
          type: string
          default: OPEN
        faultParty:
          type: string
        reason:
          type: string
        resolution:
          type: string
        metadata:
          type: object

    DisputeResponse:
      type: object
      properties:
        dispute:
          type: object
        filerScore:
          $ref: '#/components/schemas/TrustScoreResponse'
        respondentScore:
          $ref: '#/components/schemas/TrustScoreResponse'

    LeaderboardResponse:
      type: object
      properties:
        role:
          $ref: '#/components/schemas/ScoreRole'
        entries:
          type: array
          items:
            type: object
            properties:
              rank:
                type: integer
              subjectId:
                type: string
              externalId:
                type: string
              verificationTier:
                $ref: '#/components/schemas/VerificationTier'
              role:
                $ref: '#/components/schemas/ScoreRole'
              score:
                type: integer
              confidence:
                type: number
              factors:
                $ref: '#/components/schemas/TrustScoreFactors'


    WalletAccountType:
      type: string
      enum: [AVAILABLE, ESCROW, PLATFORM_FEES]

    LedgerDirection:
      type: string
      enum: [DEBIT, CREDIT]

    WalletAccountRequest:
      type: object
      properties:
        organizationId:
          type: string
        subjectId:
          type: string
        currency:
          type: string
          default: GHS
        type:
          $ref: '#/components/schemas/WalletAccountType'

    LedgerEntryRequest:
      type: object
      required: [walletAccountId, direction, amountCents, currency]
      properties:
        walletAccountId:
          type: string
        direction:
          $ref: '#/components/schemas/LedgerDirection'
        amountCents:
          type: integer
          minimum: 1
        currency:
          type: string

    LedgerTransactionRequest:
      type: object
      required: [reference, type, entries]
      properties:
        reference:
          type: string
        type:
          type: string
        description:
          type: string
        metadata:
          type: object
        entries:
          type: array
          minItems: 2
          items:
            $ref: '#/components/schemas/LedgerEntryRequest'

    CreateEscrowHoldRequest:
      type: object
      required: [reference, buyerSubjectId, sellerSubjectId, amountCents]
      properties:
        reference:
          type: string
        buyerSubjectId:
          type: string
        sellerSubjectId:
          type: string
        amountCents:
          type: integer
          minimum: 1
        currency:
          type: string
          default: GHS
        metadata:
          type: object

    ReleaseEscrowRequest:
      type: object
      properties:
        platformFeeCents:
          type: integer
          minimum: 0
        description:
          type: string

    CancelEscrowRequest:
      type: object
      properties:
        description:
          type: string

    OpenDisputeResolutionRequest:
      type: object
      required: [filerSubjectId, respondentSubjectId, filerRole, respondentRole, reason]
      properties:
        filerSubjectId:
          type: string
        respondentSubjectId:
          type: string
        filerRole:
          type: string
          enum: [BUYER, SELLER]
        respondentRole:
          type: string
          enum: [BUYER, SELLER]
        reason:
          type: string
        escrowReference:
          type: string
        metadata:
          type: object

    AddDisputeEvidenceRequest:
      type: object
      required: [submittedBySubjectId, evidenceType]
      properties:
        submittedBySubjectId:
          type: string
        evidenceType:
          type: string
        description:
          type: string
        url:
          type: string
          format: uri
        metadata:
          type: object

    ResolveDisputeRequest:
      type: object
      required: [resolution]
      properties:
        resolution:
          type: string
          enum: [RELEASE_TO_SELLER, REFUND_BUYER, NO_ESCROW_ACTION]
        faultParty:
          type: string
          enum: [BUYER, SELLER, BOTH, NONE]
        reason:
          type: string
        platformFeeCents:
          type: integer
          minimum: 0

    NotificationChannel:
      type: string
      enum: [EVENT_BUS, WEBHOOK, EMAIL, IN_APP]

    NotificationRequest:
      type: object
      required: [eventName, subjectIds, data]
      properties:
        eventName:
          type: string
          enum: [transaction.created, review.created, dispute.created, trust_score.updated]
        subjectIds:
          type: array
          minItems: 1
          items:
            type: string
        data:
          type: object
        topic:
          type: string
        platformId:
          type: string
        channels:
          type: array
          items:
            $ref: '#/components/schemas/NotificationChannel'
        email:
          type: object
          properties:
            to:
              type: string
              format: email
            subject:
              type: string
            body:
              type: string
        inApp:
          type: object
          properties:
            title:
              type: string
            body:
              type: string
